* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.game__header {
	height: 15vmin;
	width: 80vmin;
	border-bottom: 1px solid black;
}

.game__field {
	display: flex;
	flex-wrap: wrap;
	height: 80vmin;
	width: 80vmin;
	background: lightgrey;
}

.game__cell {
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 18vmin;
	width: 18vmin;
	margin: 1vmin;
	border: 1px solid green;
	border-radius: 2vmin;
	font-size: 8vmin;
	user-select: none;
}