* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.game__header {
	height: 15vmin;
	width: 80vmin;
	padding: 20px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 50px;
}

.game__field {
	display: flex;
	flex-wrap: wrap;
	height: 80vmin;
	width: 80vmin;
	padding: 1vmin;
	position: relative;
	z-index: 1;
	background: #bbada0;
	border-radius: 6px;
}

.game__cell {
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 17.5vmin;
	width: 17.5vmin;
	margin: 1vmin;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 6px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 8vmin;
	font-weight: bold;
	user-select: none;
	color: #776e65;
}

.game__cell[data-color="2"] {
	background-color: #eee4da;
}
.game__cell[data-color="4"] {
	background-color: #ede0c8;
}
.game__cell[data-color="8"] {
	background-color: #f2b179;
	color: #f9f6f2;
}
.game__cell[data-color="16"] {
	background-color: #f59563;
	color: #f9f6f2;
}
.game__cell[data-color="32"] {
	background-color: #f67c5f;
	color: #f9f6f2;
}
.game__cell[data-color="64"] {
	background-color: #f65e3b;
	color: #f9f6f2;
}
.game__cell[data-color="128"] {
	background-color: #edcf72;
	color: #f9f6f2;
}
.game__cell[data-color="256"] {
	background-color: #edcc61;
	color: #f9f6f2;
}
.game__cell[data-color="512"] {
	background-color: #edc850;
	color: #f9f6f2;
}
.game__cell[data-color="1024"] {
	background-color: #edc53f;
	color: #f9f6f2;
}
.game__cell[data-color="2048"] {
	background-color: #edc22e;
	color: #f9f6f2;
}
.game__cell[data-color="4096"], .game__cell[data-color="8192"] {
	background-color: #000;
	color: #f9f6f2;
}

@keyframes hide {
	from {opacity: 1;}
	to {opacity: 0;}
}

.game__cell.animate {
	margin: 0;
	position: absolute;
	z-index: -1;
	transition: left .2s, top .2s;
	opacity: .5;
	animation: hide .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}